rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid)) && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.active == true;
    }
    match /admins/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow write: if false;
    }
    match /users/{uid} {
      allow read, write: if signedIn() && request.auth.uid == uid;
      allow read, write: if isAdmin();
    }
    match /users/{uid}/{sub=**} {
      allow read, write: if signedIn() && request.auth.uid == uid;
      allow read, write: if isAdmin();
    }
    match /appSettings/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /announcements/{id} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /{document=**} { allow read, write: if isAdmin(); }
  }
}
